html{
    background-color: lightgray;
    box-sizing: border-box;
    font-family: sans-serif;
  }
.filter{
    background-color: white;
    margin: auto;
    max-width: 33%;
    align-content: flex-start;
    padding: 1em; 
    box-shadow: 10px 10px 5px 5px #B8B8B8;
}
.categories{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
.tag {
    display: inline;
    background-color: lightgray;
    border: 2px solid orange;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
  }
  li{
      font-size: 1.5em;
  }
  h2 {
    font-size: 2em;
    font-weight:
  }